body{
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}
section{
    height: 500px;
    padding-bottom: 50px;
}

h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    border: 1px solid rgb(100, 98, 98);
}
.orange-highlight{
    color: tomato;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    margin: 20px 30px;
    color: white;
    padding: 10px;
    background-image: linear-gradient(45deg,salmon,tomato);
    border-radius: 5px;
}
.last-work{
    width: 30%;
    float: left;
    margin: 20px 10px;
    padding-left: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
#last-project{
    background-color: gainsboro;
    margin-top: 150px;
}
#last-project h2{
    text-align: center;
    font-size: 40px;    
}
.last-work img{
    width: 100%;   
}
.inquiry{
    width: 40%;
    height: 200px;
}
#box{
    background-image: url(images/Group_33094_1.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    padding: 25px;
}
#box h2{ 
    width: fit-content;
    margin-top: 80px;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    background-color: chartreuse;
}
#button{
    margin-left: 400px;
    width: max-content;
    margin-bottom: 200px;
}
#hello-design{
    margin-left: 400px;
    text-align: center;

}
#hello-design img{
    width: 5%;
}
#hello-design h4{
    color: gray;
}
